body {
  background-color: #f3f3f3 !important;
}

.todos-container {
  margin-top: 10px !important;
}

.remove-todo-button {
  font-size: 22px;
  color: whitesmoke;
  border: 1px solid transparent;
  padding: 5px;
  border-radius: 5px;
  background: orangered;
}